---
- name: Test SSM connectivity
  hosts: ssm_targets
  gather_facts: false

  vars:
    ansible_connection: aws_ssm
    ansible_region: "eu-central-1"
    ansible_aws_ssm_bucket_name: "ansible-ssm-bucket-oleg"

  tasks:
    - name: Run uptime command via SSM
      ansible.builtin.shell: "uptime"
      register: output

    - debug:
        var: output.stdout
