[Unit]
Description=Gunicorn for birdwatching
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/snap/amazon-ssm-agent/11797/myappdir
EnvironmentFile=/etc/birdwatching.env
ExecStart=/var/snap/amazon-ssm-agent/11797/myappdir/venv/bin/gunicorn -b 127.0.0.1:8000 main:app
Restart=always

[Install]
WantedBy=multi-user.target

